.delete-indicator{
	line-height: 58px;
    height: 97%;
    width: 100%;
    background-color: red;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.delete-icon{
    margin-left: 16px;
    margin-right: 16px;
    font-size: 30px !important;
    line-height: 48px !important;
}

.item-container {
	height: 100%;
    width: 100%;
    background: rgb(48, 48, 48);
    position: absolute;
    line-height: 48px;
    padding: 0 16px;
}
