.delete-indicator{
	line-height: 58px;
    height: 99%;
    width: 100%;
    background-color: red;
    position: absolute;
    padding-left: 16px;
}

.delete-icon{
    font-size: 30px !important;
    line-height: 48px !important;
}

.item-container {
	height: 100%;
    width: 100%;
    background: rgb(48, 48, 48);
    position: absolute;
    line-height: 48px;
    padding: 0 16px;
}
